<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Bankapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Account</display-name>
		<servlet-name>Account</servlet-name>
		<servlet-class>com.match.bank.app.web.RetrieveAccount</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Accounts</display-name>
		<servlet-name>Accounts</servlet-name>
		<servlet-class>com.match.bank.app.web.RetrieveAccounts</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Deposit</display-name>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>com.match.bank.app.web.Deposit</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Withdraw</display-name>
		<servlet-name>Withdraw</servlet-name>
		<servlet-class>com.match.bank.app.web.Withdraw</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Open</display-name>
		<servlet-name>Open</servlet-name>
		<servlet-class>com.match.bank.app.web.Open</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.match.bank.app.web.Delete</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Accounts</servlet-name>
		<url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Withdraw</servlet-name>
		<url-pattern>/withdraw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Open</servlet-name>
		<url-pattern>/open</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>